body {
    width: 100%;
    height: 100vh;

    margin: 0;

    background: url('https://img-s-msn-com.akamaized.net/tenant/amp/entityid/AA12rZ8k.img') center no-repeat;

    background-color: #2f3972;
}

.header {
    /* border: 1px solid #000000; */
    display: flex;

    justify-content: space-between;
    align-items: center;

    padding: 10px;
}

.header__logo {
    text-transform: uppercase;
    color: rgb(255, 255, 255);

    margin-left: 10px;
}

.header__input__text {
    color: white;

    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    text-decoration: none;

    color: rgb(255, 255, 255);
    margin: 0 15px;
    vertical-align: top;

    text-transform: uppercase;

    transition: color .2s linear;
}

.nav__link:hover {
    color: #2aff34;
}

.component__img {
    width: 200px;
    height: auto;
    margin: 5px;
}

.component__img:hover{
    transform: scale(1.2);
}

.header__button {
    border: 1px solid #ffffff;

    padding: 4px;
    color: white;
    background-color: rgb(22, 10, 192);
    text-transform: uppercase;

    transition: background-color .2s linear;
    transition: color .2s linear;
}

.header__button:hover {
    background-color: rgb(57, 46, 207);
    color: rgb(30, 255, 0);
}